.cadastros__mes--menu {
    background-color: darkgreen;
    

    .cadastro__mes--nome {
        background-color: $cor-link;
        width: 200px;
        height: 100px;
        display: grid;
        place-content: center;
        font-size: 4rem;
        font-family: $fonte-corpo;
        border-radius: 6px;
        

    }

}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 100px;
    
  }



