.cadastro__box {
   margin-left: 2rem;

    .cadastro__titulo {
        font-family: $fonte-corpo;
        font-weight: bold;
        font-size: 3rem;
        color: $cor-link;
    }

    .form__cadastro {
        
    }
}
