.cadastros__mes--box {
    margin-top: 10rem;

    .cadastro__mes--menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cadastro__mes--nome {
        background-color: $cor-link;
        width: 200px;
        height: 100px;
        display: grid;
        place-content: center;
        font-size: 4rem;
        font-family: $fonte-corpo;
        border-radius: 6px;
    }

}




