.cadastros__mes--box {
    margin-top: 10rem;

    .cadastro__mes--menu {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .6rem;
        flex-wrap: wrap;
    }

    .cadastro__mes--item {
        padding: .4rem;
    }

    .cadastro__mes--nome {      
        width: 100px;
        height: 100px;
        display: grid;
        place-content: center;
        font-size: 1.5rem;
        font-family: $fonte-corpo;
        border-radius: 20px;
        background: rgb(161,61,210);
        background: rgb(88,230,178);
        background: linear-gradient(0deg, rgba(88,230,178,0.5970763305322129) 0%, rgba(204,228,97,1) 100%);
        box-shadow: 2px 2px 8px 2px #fff;
        cursor: pointer;

        &:hover {
            box-shadow: 4px 0px 5px 1px $cor-link;
            transition: all .5s;
            background-color: #e0ffb8;
        }        
    }

    .cadastro__mês--conteudo {

        .mes--titulo {
            font-family: $fonte-corpo;
            font-weight: bold;
            font-size: 3rem;
            color: $cor-link;
            margin-bottom: 2rem;
        }

        .cards__cadastro {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: .6rem;
        }

        .card__cadastro {
            width: 250px;
            text-align: center;
            box-shadow: 2px 2px 2px 2px $cor-link;
            padding: .4rem;

            background: rgba(145, 210, 61, 0.46);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(16.1px);
            -webkit-backdrop-filter: blur(16.1px);
            border: 1px solid rgba(145, 210, 61, 1);

            &:hover {
                background-color: #fff;
                transition: all .5s;
                box-shadow: 2px 2px 2px 2px $cor-link;
            }

            &:hover .card__recarga {
                color: #000;
                transition: all .5s;
            }

            &:hover .card__impressora {
                color: #000;
                transition: all .5s;
            }

            &:hover .card__setor {
                color: #000;
                transition: all .5s;
            }

            &:hover .card__data {
                color: #000;
                transition: all .5s;
            }

            &:hover .card__hora {
                color: #000;
                transition: all .5s;
            }
        }

        .card__recarga,
        .card__impressora,
        .card__setor,
        .card__data,
        .card__hora {
            font-family: $fonte-corpo;
            font-size: 1.3rem;
            color: #fff;
        }

        .card__btnExcluir {
            padding: .4rem;
            font-family: $fonte-corpo;
            font-size: 1.2rem;
            cursor: pointer;
            width: 100px;
            border-radius: 20px;
            background-color: #ff0000;
            color:#fff;
            margin: .5rem auto;
            font-weight: bold;
            box-shadow: 4px 0px 5px 1px #000;

               &:hover {
                box-shadow: 4px 0px 5px 1px #fff;
                transition: all .5s;
            }

        }

    }

}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}




