.cadastro__box {
   margin-left: 2rem;

    .cadastro__titulo {
        font-family: $fonte-corpo;
        font-weight: bold;
        font-size: 3rem;
        color: $cor-link;
        margin-bottom: 2rem;
    }

    .form__cadastro {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 1rem;

        .select__cadastro {
            border: none;
            padding: .5rem;
            color: #000;
            font-family: $fonte-corpo;
            font-size: 1.4rem;
            border-radius: 10px;
            box-shadow: 1px 1px 10px 1px $cor-link;
            background: #fff;
            font-weight: bold;
        }

        .select__cadastro--option {
            background-color: rgba(255,255,255, 0.5);
        }

        .data {
            border: none;
            padding: .5rem;
            color: $cor-link;
            font-family: $fonte-corpo;
            font-size: 1.4rem;
            border-radius: 10px;
            box-shadow: 1px 1px 10px 1px $cor-link;
            background: transparent;
        }

        .btn__cadastro {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 100px;
            padding: .4rem;
            border-radius: 20px;
            background-color: $cor-link;
            color: #000;
            cursor: pointer;
            border: none;
            box-shadow: 4px 0px 5px 1px #fff;

            &:hover {
                box-shadow: 4px 0px 5px 1px $cor-link;
                transition: all .5s;
                background-color: #e0ffb8;
            }
        }

        .btn__cadastro--nome {
            font-family: $fonte-corpo;
            font-size: 1.4rem;
            font-weight: bold;
        }

        .btn__ico {
            width: 20px;
        }



    }
}
