.container__cadastro {
    background-image: url("../img/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 3rem 0rem;

    .cabecalho__cadastro {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .img__logo {
        width: 300px;
    }

    .nav__links--cadastro {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    
    .nav__link--cadastro {
        background-color: $cor-link;
        padding: .4rem;
        border-top-right-radius: 30%;
        cursor: pointer;
        box-shadow: 2px 2px 6px 2px #fff;
    
        &:hover {
            transition: all .5s;
            background-color: #fff;
            box-shadow: 1px 1px 4px 1px $cor-link;
        }
    
    }
    
    .nav__nome--cadastro {
        font-family: $fonte-menu;
        color: #000;
        font-size: 1.5rem;
    }

}



  
